*/*
!*/src/
!*/data
!*/bests/
!*/trained_models/
*/trained_models/*
!*/trained_models/.gitkeep
*/src/*.pyc
*/src/.~*
*/src/__*
*/src/emb_matrix
!results/bests/

!data/.gitkeep

*/src/.ipynb_checkpoints/

nohup*
